.body {
  background-color: white;
  font-family: 'Times New Roman', Times, serif;
}

.card{
  display: flex;
  margin: 15px;
  padding: 15px;
}

main {
  background-color: aquamarine;
  width: 100vw;
}